* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255,255,255);
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}
:root {
    --size-eye: 200px;
    --size-pupil: 50px;
}
#eye {
    width: var(--size-eye);
    height: var(--size-eye);
    background: blue;
    border-radius: 9999px;
    position: relative;
    clip-path: ellipse(50% 35% at 50% 50%);
    transition: clip-path 2000ms ease-out;
}
#eye.bloody {
    background: red;
}
#eye.closed {
    clip-path: ellipse(50% 0% at 50% 50%);
    transition-timing-function: ease-in;
}
#pupil {
    width: var(--size-pupil);
    height: var(--size-pupil);
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: left 333ms ease;
}
#pupil.look_right {
    left: 70%;
}
#pupil.look_left {
    left: 30%;
}
